In [1]:
import pandas as pd
df = pd.read_csv("AAPLD.csv")
df['GREEN/RED']=2
for i in range(1,len(df.index)):
    if df.loc[i,'CLOSE']>df.loc[i,'OPEN']:
        df.loc[i,'GREEN/RED']=1
    elif df.loc[i,'CLOSE']<df.loc[i,'OPEN']:
        df.loc[i,'GREEN/RED']=0
    else:
        df.loc[i,'GREEN/RED']=0
# df['doji']=0
# for i in range(0,len(df.index)):
#     if df.loc[i,'GREEN/RED']==1 and (df.loc[i,'CLOSE']-df.loc[i,'OPEN'])>(df.loc[i,'HIGH']-df.loc[i,'CLOSE'])+(df.loc[i,'OPEN']-df.loc[i,'LOW']): 
#         df.loc[i,'doji']=0
#     elif df.loc[i,'GREEN/RED']==1 and (df.loc[i,'CLOSE']-df.loc[i,'OPEN'])<(df.loc[i,'HIGH']-df.loc[i,'CLOSE'])+(df.loc[i,'OPEN']-df.loc[i,'LOW']):
#         df.loc[i,'doji']=1                                                                                                                                 
                                                                                                                                         
#     if df.loc[i,"GREEN/RED"]==0 and (df.loc[i,'OPEN']-df.loc[i,'CLOSE'])>(df.loc[i,'LOW']-df.loc[i,'CLOSE'])+(df.loc[i,'OPEN']-df.loc[i,'HIGH']):
#         df.loc[i,"doji"]=0
#     elif df.loc[i,"GREEN/RED"]==0 and (df.loc[i,'OPEN']-df.loc[i,'CLOSE'])<(df.loc[i,'LOW']-df.loc[i,'CLOSE'])+(df.loc[i,'OPEN']-df.loc[i,'HIGH']):                                                                                                                                    
#         df.loc[i,'doji']=1                                                                                                                               
# for i in range(0,len(df.index)):
#                if(df.loc[i,'GREEN/RED']==1 and (df.loc[i,'HIGH']-df.loc[i,'CLOSE'])*0.20>df.loc[i,'OPEN']-df.loc[i,'LOW']):
#                    df.loc[i,'engulf']=int(0)
#                elif(df.loc[i,'GREEN/RED']==1 and (df.loc[i,'HIGH']-df.loc[i,'CLOSE'])<(df.loc[i,'OPEN']-df.loc[i,'LOW'])*0.20):
#                    df.loc[i,'engulf']=int(1)
#                elif(df.loc[i,'GREEN/RED']==0 and (df.loc[i,'HIGH']-df.loc[i,'OPEN'])*0.20>df.loc[i,'CLOSE']-df.loc[i,'LOW']):
#                    df.loc[i,'engulf']=int(0)
#                elif(df.loc[i,'GREEN/RED']==0 and (df.loc[i,'HIGH']-df.loc[i,'OPEN'])<(df.loc[i,'CLOSE']-df.loc[i,'LOW'])*0.20):
#                    df.loc[i,'engulf']=int(1)
#                else:
#                     df.loc[i,'engulf']=int(2)
                    
#temporarily putting values to columns
x =[[1,2],[4,5]]
for i in range(0,10463):
    x.append([2,3])

df['combine']=x
df['combine1']=x


for i in range(0,len(df.index)):
    if i > 5:
        df.at[i,'combine1']=[df.loc[i-4,'GREEN/RED'],df.loc[i-3,'GREEN/RED'],df.loc[i-2,'GREEN/RED'],df.loc[i-1,'GREEN/RED'],df.loc[i,'GREEN/RED']]
# for i in range(0,len(df.index)):
#     df.at[i,'CANDLE']=[df.loc[i,'GREEN/RED'],df.loc[i,'doji'],df.loc[i,'engulf']]
for i in range(0,len(df.index)):
    if i > 5:
        df.at[i,'combine']=[df.loc[i-4,'CANDLE'],df.loc[i-3,'CANDLE'],df.loc[i-2,'CANDLE'],df.loc[i-1,'CANDLE'],df.loc[i,'CANDLE']]

count=0
green=0
red=0
validred=[0,0]
validgreen=[0,0]
my_columns=['combinations','red','green','count','percentage']
df_red=pd.DataFrame(columns=my_columns)
df_green=pd.DataFrame(columns=my_columns)
temp_list=[]



count1=0
combinations=[]
for i in range(5,len(df.index)-1):
    for x in range(5,len(df.index)-1):
        if combinations.count(df.loc[i,'combine1'])>0:
            break
            print(count1)
        if df.loc[i,'combine1']==df.loc[x,'combine1']:
            count=count+1
            
            if df.loc[x+1,'GREEN/RED']==1:
                green=green+1
            elif df.loc[x+1,'GREEN/RED']==0:
                red=red+1
    if count>1:
        if red>green:
            combinations.append(df.loc[i,'combine1'])
            if red>0 and green==0:
                validred.append(i)
                df_red=pd.concat([df_red,pd.DataFrame({'combinations':[df.loc[i,'combine1']],'red':[red],'green':[green],'count':[count],'percentage':[(red/(red+green))*100]})])
            elif red/green>1:
                validred.append(i)
                df_red=pd.concat([df_red,pd.DataFrame({'combinations':[df.loc[i,'combine1']],'red':[red],'green':[green],'count':[count],'percentage':[(red/(red+green))*100]})])

        elif green>red:
            combinations.append(df.loc[i,'combine1'])
            if green>0 and red==0:
                validgreen.append(i)
                df_green=pd.concat([df_green,pd.DataFrame({'combinations':[df.loc[i,'combine1']],'red':[red],'green':[green],'count':[count],'percentage':[(green/(red+green))*100]})])

            elif green/red>1:
                validgreen.append(i)
                df_green=pd.concat([df_green,pd.DataFrame({'combinations':[df.loc[i,'combine1']],'red':[red],'green':[green],'count':[count],'percentage':[(green/(red+green))*100]})])

    count=0
    green=0
    red=0
    count1=count1+1
    
    
count1=0
combinations=[]
for i in range(5,len(df.index)-1):
    for x in range(5,len(df.index)-1):
        if combinations.count(df.loc[i,'combine1'])>0:
            break
            print(count1)
        if df.loc[i,'combine1']==df.loc[x,'combine1']:
            count=count+1
            
            if df.loc[x+1,'GREEN/RED']==1:
                green=green+1
            elif df.loc[x+1,'GREEN/RED']==0:
                red=red+1
    if count>1:
        if red>green:
            combinations.append(df.loc[i,'combine1'])
            if red>0 and green==0:
                validred.append(i)
                df_red=pd.concat([df_red,pd.DataFrame({'combinations':[df.loc[i,'combine1']],'red':[red],'green':[green],'count':[count],'percentage':[(red/(red+green))*100]})])
            elif red/green>1:
                validred.append(i)
                df_red=pd.concat([df_red,pd.DataFrame({'combinations':[df.loc[i,'combine1']],'red':[red],'green':[green],'count':[count],'percentage':[(red/(red+green))*100]})])

        elif green>red:
            combinations.append(df.loc[i,'combine1'])
            if green>0 and red==0:
                validgreen.append(i)
                df_green=pd.concat([df_green,pd.DataFrame({'combinations':[df.loc[i,'combine1']],'red':[red],'green':[green],'count':[count],'percentage':[(green/(red+green))*100]})])

            elif green/red>1:
                validgreen.append(i)
                df_green=pd.concat([df_green,pd.DataFrame({'combinations':[df.loc[i,'combine1']],'red':[red],'green':[green],'count':[count],'percentage':[(green/(red+green))*100]})])

    count=0
    green=0
    red=0
    count1=count1+1
df_green=df_green.reset_index()
df_red=df_red.reset_index()

df_green

UsageError: Line magic function `%%time` not found.

In [6]:
df.tail(20)

,DATE,OPEN,HIGH,LOW,CLOSE,GREEN/RED,doji,engulf,CANDLE,combine,combine1
10445,11-10-2022,139.899994,141.350006,138.220001,138.979996,0,0,2.0,"[0, 0, 2.0]","[[1, 0, 2.0], [0, 0, 0.0], [0, 0, 2.0], [0, 0,...","[1, 0, 0, 0, 0]"
10446,12-10-2022,139.130005,140.360001,138.160004,138.339996,0,0,0.0,"[0, 0, 0.0]","[[0, 0, 0.0], [0, 0, 2.0], [0, 0, 2.0], [0, 0,...","[0, 0, 0, 0, 0]"
10447,13-10-2022,134.990005,143.589996,134.369995,142.990005,1,0,2.0,"[1, 0, 2.0]","[[0, 0, 2.0], [0, 0, 2.0], [0, 0, 2.0], [0, 0,...","[0, 0, 0, 0, 1]"
10448,14-10-2022,144.309998,144.520004,138.190002,138.380005,0,0,2.0,"[0, 0, 2.0]","[[0, 0, 2.0], [0, 0, 2.0], [0, 0, 0.0], [1, 0,...","[0, 0, 0, 1, 0]"
10449,17-10-2022,141.070007,142.899994,140.270004,142.410004,1,0,2.0,"[1, 0, 2.0]","[[0, 0, 2.0], [0, 0, 0.0], [1, 0, 2.0], [0, 0,...","[0, 0, 1, 0, 1]"
10450,18-10-2022,145.490005,146.699997,140.610001,143.750000,0,0,2.0,"[0, 0, 2.0]","[[0, 0, 0.0], [1, 0, 2.0], [0, 0, 2.0], [1, 0,...","[0, 1, 0, 1, 0]"
10451,19-10-2022,141.690002,144.949997,141.500000,143.860001,1,0,0.0,"[1, 0, 0.0]","[[1, 0, 2.0], [0, 0, 2.0], [1, 0, 2.0], [0, 0,...","[1, 0, 1, 0, 1]"
10452,20-10-2022,143.020004,145.889999,142.649994,143.389999,1,1,0.0,"[1, 1, 0.0]","[[0, 0, 2.0], [1, 0, 2.0], [0, 0, 2.0], [1, 0,...","[0, 1, 0, 1, 1]"
10453,21-10-2022,142.869995,147.850006,142.649994,147.270004,1,0,2.0,"[1, 0, 2.0]","[[1, 0, 2.0], [0, 0, 2.0], [1, 0, 0.0], [1, 1,...","[1, 0, 1, 1, 1]"
10454,24-10-2022,147.190002,150.229996,146.000000,149.449997,1,0,2.0,"[1, 0, 2.0]","[[0, 0, 2.0], [1, 0, 0.0], [1, 1, 0.0], [1, 0,...","[0, 1, 1, 1, 1]"
10455,25-10-2022,150.089996,152.490005,149.360001,152.339996,1,0,2.0,"[1, 0, 2.0]","[[1, 0, 0.0], [1, 1, 0.0], [1, 0, 2.0], [1, 0,...","[1, 1, 1, 1, 1]"
10456,26-10-2022,150.960007,151.990005,148.039993,149.350006,0,0,2.0,"[0, 0, 2.0]","[[1, 1, 0.0], [1, 0, 2.0], [1, 0, 2.0], [1, 0,...","[1, 1, 1, 1, 0]"
10457,27-10-2022,148.070007,149.050003,144.130005,144.800003,0,0,2.0,"[0, 0, 2.0]","[[1, 0, 2.0], [1, 0, 2.0], [1, 0, 2.0], [0, 0,...","[1, 1, 1, 0, 0]"
10458,28-10-2022,148.199997,157.500000,147.820007,155.740005,1,0,2.0,"[1, 0, 2.0]","[[1, 0, 2.0], [1, 0, 2.0], [0, 0, 2.0], [0, 0,...","[1, 1, 0, 0, 1]"
10459,31-10-2022,153.160004,154.240005,151.919998,153.339996,1,1,2.0,"[1, 1, 2.0]","[[1, 0, 2.0], [0, 0, 2.0], [0, 0, 2.0], [1, 0,...","[1, 0, 0, 1, 1]"
10460,01-11-2022,155.080002,155.449997,149.130005,150.649994,0,0,2.0,"[0, 0, 2.0]","[[0, 0, 2.0], [0, 0, 2.0], [1, 0, 2.0], [1, 1,...","[0, 0, 1, 1, 0]"
10461,02-11-2022,148.949997,152.169998,145.000000,145.029999,0,0,0.0,"[0, 0, 0.0]","[[0, 0, 2.0], [1, 0, 2.0], [1, 1, 2.0], [0, 0,...","[0, 1, 1, 0, 0]"
10462,03-11-2022,142.059998,142.800003,138.750000,138.880005,0,0,0.0,"[0, 0, 0.0]","[[1, 0, 2.0], [1, 1, 2.0], [0, 0, 2.0], [0, 0,...","[1, 1, 0, 0, 0]"
10463,04-11-2022,142.089996,142.669998,134.380005,138.380005,0,0,1.0,"[0, 0, 1.0]","[[1, 1, 2.0], [0, 0, 2.0], [0, 0, 0.0], [0, 0,...","[1, 0, 0, 0, 0]"
10464,07-11-2022,137.110001,139.149994,135.669998,138.919998,1,0,1.0,"[1, 0, 1.0]","[[0, 0, 2.0], [0, 0, 0.0], [0, 0, 0.0], [0, 0,...","[0, 0, 0, 0, 1]"

In [3]:
df_ green

CPU times: total: 1min 7s
Wall time: 1min 9s

   index     combinations  red green count  percentage
0      0  [1, 1, 1, 1, 0]  140   151   291   51.890034
1      0  [0, 1, 1, 0, 1]  127   149   276   53.985507
2      0  [1, 0, 1, 1, 1]  132   156   288   54.166667
3      0  [1, 1, 0, 0, 1]  155   177   332   53.313253
4      0  [1, 1, 0, 0, 0]  147   165   312   52.884615
5      0  [0, 1, 1, 0, 0]  162   188   350   53.714286
6      0  [0, 1, 0, 1, 1]  142   152   294   51.700680
7      0  [1, 0, 1, 0, 0]  141   165   306   53.921569
8      0  [0, 1, 0, 1, 0]  157   178   335   53.134328

In [4]:
df_red

    index     combinations  red green count  percentage
0       0  [0, 0, 0, 0, 0]  725   163   888   81.644144
1       0  [0, 0, 0, 0, 1]  181   133   314   57.643312
2       0  [0, 0, 0, 1, 1]  159   130   289   55.017301
3       0  [0, 0, 1, 1, 1]  155   135   290   53.448276
4       0  [0, 1, 1, 1, 1]  165   126   291   56.701031
5       0  [1, 1, 1, 1, 1]  126   121   247   51.012146
6       0  [1, 1, 1, 0, 1]  154   130   284   54.225352
7       0  [1, 1, 0, 1, 1]  143   136   279   51.254480
8       0  [1, 0, 1, 1, 0]  149   136   285   52.280702
9       0  [1, 1, 1, 0, 0]  150   144   294   51.020408
10      0  [1, 0, 0, 1, 1]  182   160   342   53.216374
11      0  [0, 0, 1, 1, 0]  201   140   341   58.944282
12      0  [0, 1, 1, 1, 0]  154   133   287   53.658537
13      0  [1, 0, 0, 0, 1]  173   156   329   52.583587
14      0  [0, 0, 0, 1, 0]  181   173   354   51.129944
15      0  [0, 0, 1, 0, 0]  190   165   355   53.521127
16      0  [0, 1, 0, 0, 0]  167   164   331   50.453172
17      0  [1, 0, 0, 0, 0]  162   152   314   51.592357
18      0  [0, 0, 1, 0, 1]  172   147   319   53.918495
19      0  [1, 1, 0, 1, 0]  149   132   281   53.024911
20      0  [1, 0, 0, 1, 0]  174   146   320   54.375000
21      0  [1, 0, 1, 0, 1]  163   147   310   52.580645

In [13]:
print(len(combinations))

177

In [16]:
print(df['combine1'].tail(50))

10415    [1, 1, 1, 0, 1]
10416    [1, 1, 0, 1, 0]
10417    [1, 0, 1, 0, 0]
10418    [0, 1, 0, 0, 1]
10419    [1, 0, 0, 1, 0]
10420    [0, 0, 1, 0, 0]
10421    [0, 1, 0, 0, 1]
10422    [1, 0, 0, 1, 0]
10423    [0, 0, 1, 0, 1]
10424    [0, 1, 0, 1, 1]
10425    [1, 0, 1, 1, 0]
10426    [0, 1, 1, 0, 1]
10427    [1, 1, 0, 1, 0]
10428    [1, 0, 1, 0, 0]
10429    [0, 1, 0, 0, 1]
10430    [1, 0, 0, 1, 1]
10431    [0, 0, 1, 1, 0]
10432    [0, 1, 1, 0, 1]
10433    [1, 1, 0, 1, 0]
10434    [1, 0, 1, 0, 1]
10435    [0, 1, 0, 1, 0]
10436    [1, 0, 1, 0, 1]
10437    [0, 1, 0, 1, 0]
10438    [1, 0, 1, 0, 0]
10439    [0, 1, 0, 0, 1]
10440    [1, 0, 0, 1, 1]
10441    [0, 0, 1, 1, 1]
10442    [0, 1, 1, 1, 0]
10443    [1, 1, 1, 0, 0]
10444    [1, 1, 0, 0, 2]
10445    [1, 0, 0, 2, 0]
10446    [0, 0, 2, 0, 0]
10447    [0, 2, 0, 0, 1]
10448    [2, 0, 0, 1, 0]
10449    [0, 0, 1, 0, 1]
10450    [0, 1, 0, 1, 0]
10451    [1, 0, 1, 0, 1]
10452    [0, 1, 0, 1, 1]
10453    [1, 0, 1, 1, 1]
10454    [0, 1, 1, 1, 1]
10455    [1, 1, 1, 1, 1]
10456    [1, 1, 1, 1, 0]
10457    [1, 1, 1, 0, 0]
10458    [1, 1, 0, 0, 1]
10459    [1, 0, 0, 1, 1]
10460    [0, 0, 1, 1, 0]
10461    [0, 1, 1, 0, 0]
10462    [1, 1, 0, 0, 0]
10463    [1, 0, 0, 0, 0]
10464    [0, 0, 0, 0, 1]
Name: combine1, dtype: object